faces-config.NavData
nbactions.xml
*.swp
*.log
*.classpath
target/
.settings/
.project
*.aux
*.out
*.pdf
*.toc
*.gz
#jee-ejb/.classpath
#jee-ejb/.project
#jee-ejb/.settings/
#jee-web/.classpath
#jee-web/.project
#jee-web/.settings/
